body {
  font-family: 'Roboto', sans-serif;
}

.title {
  text-align: center;
  font-family: 'Sawarabi Mincho', sans-serif;
}

.current-pallete {
  display: flex;
  padding: 5%;
}

.color-square-big {
  text-align: center;
  background: gray;
  width: 20%;
  height: 50vh;
}

.color-square-small {
  color:white;
  display: inline-block;
  height: 4em;
  width: 4em;
}



.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.generate {
  width: 20%;
  margin: 3%;
}

.pallete-form {
  margin: 3%;
}