* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #fffbe8;
  color: #38270d;
}

.title {
  margin: auto;
  margin-bottom: 1%;
  text-align: center;
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 2.3em;
  text-shadow: #fffbe8 1px 1px;
  background-color: rgb(255, 251, 232, 0.5);
  box-shadow: 0px 2px 54px 3px rgba(56,56,56,1);
}

.jumbotron {
  margin: auto;
  padding: 2% 8% 2% 8%;
  align-items: center;
}

.current-pallete {
  display:flex;
  box-shadow: 0px 2px 54px 3px rgba(56,56,56,1);
}

.color-square-big {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 20%;
  height: 40vh;
}

.color-info {
  display: inline-block;
  text-align: center;
}

.lock-button {
  height: 30px;
}

.locked .lock-button {
  height: 40px;
}

.color-code {
  margin: 5%;
  font-size: 1.3em;
}

.color-square-small {
  color:white;
  display: inline-block;
  height: 4em;
  width: 4em;
}

.generate {
  width: 30%;
  padding: 1%;
  color:rgb(255, 251, 232, 0.9);
  background-color: rgba(56,56,56,1);
  font-size: 1.2em;
}

.generate-container {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.controls {
  display: flex;
  justify-content: space-around;
  padding: 2%;
  background: rgba(56,56,56,1);
  font-size: 1.3em;
}

.controls input {
  margin: 2% auto;
}

.controls select {
  color:rgb(255, 251, 232, 0.9);
  background: rgba(56,56,56,1);
}

.project-form label {
  color:rgb(255, 251, 232, 0.9)
}
