* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: rgba(56,56,56,1);
}

.title {
  margin-bottom: 1%;
  padding: 1%;
  text-align: center;
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 2.3em;
  text-shadow: #fffbe8 1px 1px;
  background-color: rgb(255, 251, 232, 0.5);
  box-shadow: 0px 2px 54px 3px rgba(56,56,56,1);
}

.jumbotron {
  margin: auto;
  padding: 2% 8% 2% 8%;
  align-items: center;
}

.current-palette {
  display:flex;
  box-shadow: 0px 2px 54px 3px rgba(56,56,56,1);
}

.color-square-big {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 20%;
  height: 44vh;
}

.color-info {
  display: inline-block;
  text-align: center;
}

.lock-button {
  height: 30px;
}

.locked .lock-button {
  height: 40px;
}

.color-code {
  margin: 5%;
  font-size: 1.4em;
}

.color-square-small {
  color:white;
  display: inline-block;
  height: 5em;
  width: 5em;
}

.generate {
  width: 30%;
  padding: 1%;
  color:rgb(255, 251, 232, 0.9);
  background-color: rgba(56,56,56,0.8);
  font-size: 1.4em;
}

.generate-container {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 2% 8.1% 2% 8.1%;
  font-size: 1.4em;
}

.controls select {
  color:rgb(255, 251, 232, 0.9);
  background: rgba(56,56,56,1);
}

.controls input, .controls button {
  color: rgba(56,56,56,1);
}

.block {
  display: block;
  height: 30px;
  margin-bottom: 3%;
  padding: 1px;
}

.project-form label {
  color:rgb(255, 251, 232, 0.9);
}

.main {
  color:rgb(255, 251, 232, 0.9);
  background: rgb(56,56,56);
}

.project-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 84%;
  margin: auto;
  border: 1px solid rgb(255, 251, 232, 0.9);
}

.project {
  width: 100%;
  padding: 4%;
}

.project-name {
  margin: auto auto 2px 10%;
  font-size: 1.4em;
  font-family:'Sawarabi Mincho';
}

.mini-palette {
  margin-bottom: 4%;
}

.mini-row{
  display: flex;
  justify-content: space-evenly;
  margin: 2% auto 0 auto;
  white-space: nowrap;
}

.small-palette-name {
  text-align: right;
  text-transform: uppercase;
  margin: auto 5% 0 auto;
}

.delete-button {
  display: inline-block;
  top: -10%;
  padding: 1%;
}

.delete-button:hover {
  cursor: pointer;
}










